version: '3.7'
secrets:
    n8n_user:
        file: ./secrets/n8n_user.txt
    n8n_password:
        file: ./secrets/n8n_password.txt
    portainer_admin_password:
        file: ./secrets/portainer_admin_password.txt
services:
    n8n:
        image: n8nio/n8n
        container_name: n8n
        ports:
            - '5678:5678'
        environment:
            - N8N_BASIC_AUTH_ACTIVE=true
            - N8N_BASIC_AUTH_USER_FILE=/run/secrets/n8n_user
            - N8N_BASIC_AUTH_PASSWORD_FILE=/run/secrets/n8n_password
        volumes:
            - ./n8n/data:/home/node/.n8n
        secrets:
            - n8n_user
            - n8n_password
    proxy-manager:
        image: 'jc21/nginx-proxy-manager:latest'
        container_name: proxy-manager
        restart: unless-stopped
        healthcheck:
            test: ['CMD', '/bin/check-health']
            interval: 10s
            timeout: 3s
        ports:
            - 81:81
            - 80:80
            - 443:443
        volumes:
            - ./proxy-manager/letsencrypt:/etc/letsencrypt
            - ./proxy-manager/data:/data
    portainer:
        image: portainer/portainer-ce:latest
        container_name: portainer
        # command: -H unix:///var/run/docker.sock
        restart: unless-stopped
        secrets:
            - portainer_admin_password
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - portainer_data:/data
        ports:
            - 9000:9000
            # - 8000:8000
        deploy:
            mode: replicated
            replicas: 1
            placement:
                constraints: [node.role == manager]
networks:
    default:
        external:
            name: gateway
volumes:
    portainer_data:
