version: '3.7'
services:
    proxy-manager:
        image: 'jc21/nginx-proxy-manager:latest'
        container_name: proxy-manager
        restart: unless-stopped
        healthcheck:
            test: ['CMD', '/bin/check-health']
            interval: 10s
            timeout: 3s
        ports:
            - 81:81
            - 80:80
            - 443:443
        volumes:
            - ./letsencrypt:/etc/letsencrypt
            - ./data:/data

networks:
    default:
        external:
            name: gateway

