version: '3.7'
secrets:
    portainer_admin_password:
        file: ./secrets/portainer_admin_password.txt
services:
    portainer:
        image: portainer/portainer-ce:latest
        container_name: portainer
        command: -H unix:///var/run/docker.sock --admin-password-file /run/secrets/portainer_admin_password
        restart: unless-stopped
        secrets:
            - portainer_admin_password
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./data:/data
        ports:
            - 9000:9000
            # - 8000:8000
        deploy:
            mode: replicated
            replicas: 1
            placement:
                constraints: [node.role == manager]

networks:
    default:
        external:
            name: gateway

