version: '3.7'
secrets:
    postgres_user:
        file: ./secrets/postgres_user.txt
    postgres_password:
        file: ./secrets/postgres_password.txt
    postgres_db:
        file: ./secrets/postgres_db.txt
services:
    
    postgres:
        image: postgres:16-alpine # Or another desired version like postgres:latest
        restart: unless-stopped
        container_name: postgres
        environment:
            POSTGRES_USER_FILE: /run/secrets/postgres_user
            POSTGRES_PASSWORD_FILE: /run/secrets/postgres_password
            POSTGRES_DB_FILE: /run/secrets/postgres_db
        ports:
            - "5432:5432" # Maps host port 5432 to container port 5432
        volumes:
            - ./data:/var/lib/postgresql/data
        secrets:
            - postgres_user
            - postgres_password
            - postgres_db

networks:
    default:
        external:
            name: gateway

